{deps, [
    {spawn_mode, {git, "https://github.com/erlangsters/spawn-mode", {tag, "0.0.1"}}}
]}.

{profiles, [
    {docs, [
        {plugins, [rebar3_ex_doc]},
        {ex_doc, [
            {main, "README.md"},
            {extras, [
                "README.md"
            ]},
            {source_url, "https://github.com/erlangsters/worker"}
        ]}
    ]}
]}.
