{deps, [
    {spawn_mode, {git, "https://github.com/erlangsters/spawn-mode", {tag, "0.0.2"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck", {tag, "v1.2.0"}}}
        ]}
    ]},
    {docs, [
        {plugins, [rebar3_ex_doc]},
        {ex_doc, [
            {main, "README.md"},
            {extras, [
                "README.md"
            ]},
            {output, "_build/docs/site"},
            {source_url, "https://github.com/erlangsters/worker"}
        ]}
    ]}
]}.
